<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/logo.PNG' %}" sizes="32x32">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="/static/js/vue.js" type="text/javascript" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">汉堡菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index:oa_index' %}">OA</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {#            菜单#}
                <li {% if flag1 == 'kssy' %}class="active"{% endif %}><a href="{% url 'index:oa_index' %}"><span
                        class="glyphicon glyphicon-th"></span> 快速使用<span class="sr-only">(current)</span></a></li>

                <li {% if flag1 == 'wzhbg' %}class="active"{% endif %}><a href="{% url 'oa_wzhbg:oa_wzhbg' %}"><span
                        class="glyphicon glyphicon-leaf"></span> 无纸化办公</a></li>
                {#                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> 设备报修</a></li>#}
                <li><a href="#"><span class="glyphicon glyphicon-education"></span> 教育在线</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-hdd"></span> 文件管理</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> 云服务</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> 数据查询</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-plus-sign"></span> 附加功能<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-header">小谢</li>
                        <li {% if flag == 'guestBook' %}class="active"{% endif %}><a
                                href="{% url 'guestbook:showAll' %}"><span
                                class="glyphicon glyphicon-edit"></span> 留言簿</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">小吴</li>
                        <li {% if flag == 'tpxt' %}class="active"{% endif %}><a
                                href="{% url 'VoteSystem:index' %}"><span class="glyphicon glyphicon-file"></span> 投票系统</a>
                        </li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">运维工具</li>
                        <li><a href="{% url 'orcl:idx' %}"><span class="glyphicon glyphicon-wrench"></span> 数据库操作</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">本站技术文档</li>
                        <li><a href="{% url 'index:docs' %}"><span class="glyphicon glyphicon-paperclip"></span> Django
                            AdminDoc</a></li>
                    </ul>
                </li>

            </ul>
            {#    搜索功能#}
            {#            <form class="navbar-form navbar-left">#}
            {#                <div class="form-group">#}
            {#                    <input type="text" class="form-control" placeholder="请输入你要搜索的功能">#}
            {#                </div>#}
            {#                <button type="submit" class="btn btn-default">功能搜索</button>#}
            {#            </form>#}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if user.username == 'DoesNotExist' %}
                        <a href="{% url 'user:login' %}" target="_blank">游客，请登陆后使用！</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> 设置中心 <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">系统</li>
                                <li><a href="/admin" target="_blank"><span class="glyphicon glyphicon-th-large"></span>
                                    进入后台</a>
                                </li>
                                <li><a href="{% url 'user:login' %}"><span class="glyphicon glyphicon-log-out"></span>
                                    前往登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <a href="#" target="_blank">{{ user.username }}，欢迎您！</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> 个人中心 <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">社交</li>
                                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> 我的消息 <span
                                        class="badge">6</span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-send"></span> 发送消息</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 好友列表(5/7)</a></li>

                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">账号</li>
                                <li><a href="#"><span class="glyphicon glyphicon-globe"></span> 我的资料</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-refresh"></span> 修改密码</a></li>

                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">系统</li>
                                <li><a href="/admin" target="_blank"><span class="glyphicon glyphicon-th-large"></span>
                                    进入后台</a>
                                </li>
                                <li><a href="{% url 'user:logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                                    退出登录</a></li>
                            </ul>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
{% block body %}
{% endblock %}

<div class="container">
    <div align="center">
        <hr>
        <code>©2020 Designed By sunRice</code>
        <br><br><br>
    </div>
</div>
</body>
</html>