{% extends 'model_page/oa_main_page_model.html' %}
{#这是二级菜单的模板#}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <div align="center">
                    <ul class="nav nav-pills nav-stacked">
{#                        管理左侧二级菜单#}
                        {% block left_info %}
                        {% endblock %}
                    </ul>
                </div>
            </div>

            <div class="col-md-10">
{#                管理右侧展示内容#}
                {% block right_info %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}