<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>统一身份认证</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- 背景轮播脚本 -->
    <script src="{% static 'js/bg.js' %}"></script>

    <!-- layui -->
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <style>
        .right {
            float: right;
            width: 350px;
            {#border: 3px solid #73AD21;#}
            padding: 30px;
        }
    </style>

</head>
<body>
<!-- 背景轮播 -->
<script type="text/javascript">
$.backstretch([
        '{% static 'images/login_bg/bg_1.jpg' %}',
        '{% static 'images/login_bg/bg_2.jpg' %}',
        '{% static 'images/login_bg/bg_3.jpg' %}',
        '{% static 'images/login_bg/bg_4.jpg' %}',
    ], {
        fade : 1000, // 动画时长
        duration : 2000 // 切换延时
});
</script>

<!-- 登录框 -->
<div class="container">
    <div align="center">
        <div class="login">
            <img src="{% static 'images/login_bg/bg.jpg' %}" width="500" height="350">
            <div class="right">
                <p>
                    <form class="layui-form" method="post">
                        {% csrf_token %}
                        <div align="left">
                            <h2><i class="layui-icon layui-icon-user" style="font-size: 30px;"></i> 统一身份认证</h2>
                            <hr>
                        </div>
                        <label class="sr-only">账号</label>
                        <input type="text" class="form-control" placeholder="请输入用户名" />
                        <br>
                        <label class="sr-only">密码</label>
                        <input type="password" class="form-control" placeholder="请输入密码" />
                        <br>
                        <div class="layui-form-item">
{#                            <input type="checkbox" name="remember" lay-skin="switch" lay-text="开启|关闭" {{ checked }}> 记住用户名#}
                            <input type="checkbox" name="remember" title="记住用户名" {{ checked }}>
{#                        <input type="checkbox" name="remember" {{ checked }}> #}
                        </div>

{#                        <br>#}
                        <button class="btn btn-lg btn-primary btn-block">登录</button>
                        <hr>
                        <label>
                            还没账号？前往<a href="/user/register">注册。。。</a>
                        </label>
                        <br>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div align="center">
        Copyright © 2020 All Rights Reserved | 网络与信息中心
        <br><br>
        <i class="layui-icon layui-icon-login-wechat" style="font-size: 50px;" id="wx"></i>
        <i class="layui-icon layui-icon-login-qq" style="font-size: 50px;" id="qq"></i>
        <i class="layui-icon layui-icon-login-weibo" style="font-size: 50px;" id="wb"></i>
    </div>
</div>

<script>
layui.use('form', function(){
  var form = layui.form;

  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});

//微信公众号
$('#wx').on('click', function(){
    layer.open({
            title: '关注微信公众号',
            type: 1,
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div style="padding:20px;" align="center">扫码关注\<\/div>'
    });
});
//QQ
$('#qq').on('click', function(){
    layer.open({
            title: '关注QQ公众号',
            type: 1,
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div style="padding:20px;" align="center">扫码关注\<\/div>'
    });
});
//微博
$('#wb').on('click', function(){
    layer.open({
            title: '关注微新浪博',
            type: 1,
            area: ['600px', '360px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div style="padding:20px;" align="center">扫码关注\<\/div>'
    });
});
</script>

</body>
</html>