{#OA首页-快速使用页面#}
{% extends 'model_page/quick_start_page_model.html' %}
{% load static %}

{% block title %}
    OA-ver 201230.UCA.002
{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}

{#OA首页-快速使用页面的左侧二级菜单#}
{% block left_info %}
    <li role="presentation" class="active"><a href="#"><span
            class="glyphicon glyphicon-time"></span> 历史功能</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-star-empty"></span>
        我的收藏</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-ok"></span> 今日签到</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-asterisk"></span> 办理请假</a>
    </li>
{% endblock %}

{% block right_info %}
    <h3>最近使用的功能</h3>
    <hr>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/1.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/2.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/3.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/4.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/5.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/6.png' %}" class="img-rounded">
            <div class="caption">
                <p class="lead">【简介】... ...</p>
                <div align="right">
                    <p>
                        <small>负责人：</small>
                        <br>
                        <a href="#" class="btn btn-primary" role="button" target="_blank">查看商品详情</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}