{% extends 'model_page/oa_main_page_model.html' %}
{% load static %}

{% block title %}
    Oracle数据库操作
{% endblock %}

{% block body %}
    <div class="container">
        <h1>数据库操作</h1>
        <hr>
        <br>


        {% for a in info %}
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{{ a.imgURL }}" class="img-rounded">
                    <div class="caption">
                        <p class="lead" align="center">{{ a.czmc }}</p>
                        <div align="left">
                            <p>
                                <small>使用说明：{{ a.sysm|truncatechars:5 }}...</small>
                        </div>
                        <br>
                        <div align="center">
                            <a href="{% url 'orcl:run' a.id %}" class="btn btn-{% if a.isDanger == '是' %}danger{% else %}primary{% endif %}"
                               role="button" target="_blank">执行</a>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}