{% extends 'model_page/login_model.html' %}

{% block title %}
    统一身份认证
{% endblock %}

{% block right_body %}
    <p>
    <form class="layui-form" method="post" action="/user/login">
        {% csrf_token %}
        <div align="left">
            <h2><i class="layui-icon layui-icon-user" style="font-size: 30px;"></i> 统一身份认证</h2>
            <hr>
        </div>
        <label class="sr-only">账号</label>
        <input type="text" class="form-control" name="username" placeholder="请输入用户名"/>
        <br>
        <label class="sr-only">密码</label>
        <input type="password" class="form-control" name="password" placeholder="请输入密码"/>
        <br>
        <div class="layui-form-item">
            {#                            <input type="checkbox" name="remember" lay-skin="switch" lay-text="开启|关闭" {{ checked }}> 记住用户名#}
            <input type="checkbox" name="remember" title="记住用户名" {{ checked }}>
            {#                        <input type="checkbox" name="remember" {{ checked }}> #}
        </div>

        {#                        <br>#}
        <button class="btn btn-lg btn-primary btn-block">登录</button>
        <font color="red" size="3"> {{ errmsg }}</font>
        <hr>
        <label>
            <a target='_blank' href={% url 'user:register' %}>注册</a> | 忘记密码 | 账号绑定
        </label>
        <br>
    </form>
    </p>
{% endblock %}